<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php-7.2.34-nts-Win32-VC15-x64\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
